section.u-secTtl
  .u-inner
    h2.u-ttl1: +img("info/ttl.svg", "ご案内")


section.u-secCont
  ul.phts
    li
      +figDmy("413x391.png", "")
      p 外観
    li
      +figDmy("413x391.png", "")
      p テーブル席#[small お靴を脱いでお上がりいただきます]
    li
      +figDmy("413x391.png", "")
      p 個室（2名様用）

  .u-inner
    .u-whtBox1.is_request
      h3.u-ttl2
        span: em お願い
      .cont
        p 小さく落ち着いた店内で穏やかな時間をお過ごし頂きたく存じます。#[br]誠に恐縮ですが、以下の点ご留意くださいます様お願い申し上げます。
        ul
          li ・#[em 全席禁煙]となっております　(-.-)y━･~~
          li ・#[em 香水は控えめに]お願い致します　(>_<)
          li ・#[em 大騒ぎ]はご遠慮ください　W(`0`)W
          li ・#[em 小さなお子様連れ]でのご来店はご遠慮ください　(;o;)#[br]#[small （大人と同じコースをお静かに召し上がれるご年齢より）]
          li ・#[em 当日の人数変更]は出来ません　(ﾟoﾟ;;#[br]#[small （当日のキャンセル、人数減はコース代を頂戴いたします）]
        p 他のお客様共々良い時間をお過ごし頂く為、ご理解の程お願い申し上げます。



    .u-whtBox1.is_access
      h3.u-ttl2
        span: em アクセス
      .cont
        +fig("info/access_map.png", "")
        .txts
          p 営業時間 18:00～23:00#[br]定休日        月曜日#[br]#[br]〒141-0021#[br]東京都品川区上大崎2-15-5#[br]長者丸ビル1階#[br]電話番号 
            em 
              a(href="tel:03-3444-5637")  03-3444-5637#[br]#[br]
            
            | 最寄り駅#[br]JR目黒駅東口 徒歩1分#[br]東急・地下鉄 目黒駅 徒歩3分



