section.u-secTtl
  .u-inner
    h2.u-ttl1: +img("menu/ttl.svg", "お品書き")
    p.lead 当店の料理は旬の食材を用いたおまかせコースとなっております。#[br.pc]お召し上がりになれない食材がございましたら前々日までにお申し付けください。


section.u-secCont
  .u-inner
    .u-whtBox1.is_course
      h3.u-ttl2
        span コース(税込)

      ul.list
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em 旬菜コース
              span 小菜8品＋土鍋炊きご飯、ミニデザート
            p ¥5,500（ご飯なし¥4,500）
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em ちょっと良いコース
              span 旬菜コースの一部をグレードアップ
            p ¥7,500（ご飯なし¥6,500）
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em お試しコース
              span 小菜6品
            p ¥3,500


    .u-whtBox1.is_drink
      h3.u-ttl2
        span お飲み物

      ul.list
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em ビール
              span 小瓶で色々愉しめます
            p ハートランド#[br]coedo(瑠璃、毬花、伽羅)#[br]常陸野ネストノンエール(微アルコール)
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em 日本酒
              span 当店の料理に良く合う選りすぐり…
            ul
              li 喜久醉
              li 若波
              li 寫楽
              li 宝剣
              li 山和
              li 飛露喜
              li 会津娘
              li 山形正宗
              li 雪の茅舎
              li 醸し人九平次
              li 七本鎗
              li にいだしぜんしゅ
              li 石鎚
              li 日高見
              li.taR 等より数種
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em ワイン
              span 和食に良く合う上品で繊細な味わい…
            p 中央葡萄酒(グレイスワイン)#[br]シャトー酒折ワイナリー#[br]ウッディファーム&ワイナリー#[br]楠わいなりー#[br]タケダワイナリー　　　他
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em 焼酎
              span 手作りの温もり、ホッとする味わい…
            dl
              dt 《芋》
              dd 山ねこ　南泉　亀五郎　天狗櫻
            dl
              dt 《麦》
              dd 寿福絹子
            dl
              dt 《米》
              dd 武者返し
            dl
              dt 《黒糖》
              dd 龍宮
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em サワー・ハイボール・リキュール
            p 手仕込みレモンサワー#[br]知多ハイボール#[br]和リキュール（梅・すだち・生姜・みかん）
        li
          +figDmy("469x294.png", "")
          .txts
            h4
              em ソフトドリンク
              span お酒が苦手な方、運転される方へ…
            p 能勢ジンジャーエール#[br]能勢ミネラルソーダ（炭酸水）#[br]ウーロン茶　そば茶　(温・冷)#[br]ほうじ茶　(温)



