dl
  dt お知らせ
  dd
    p: a(href="news.html") #[span.date 2022/01/01]もう暫く休業致します
    p: a(href="news.html") #[span.date 2022/01/01]もう暫く休業致します
    p: a(href="news.html") #[span.date 2022/01/01]もう暫く休業致します

.more
  a(href="news.html") 詳しくはこちら
