include /_include/_mixin.pug

doctype html
html(lang="ja")
  head
    include /_include/_head.pug


  body
    .l-wrapper
      h1.onsnTop 
        a(href="/")
          +img("main/logo.svg", "穏心")
      main.l-cont
        article.newslistZone
          section.u-secTtl
            .u-inner
              h2.u-ttl1: +img("reserve_ttl.svg", "ご予約")

          section.u-secCont
            .u-inner
              .u-whtBox1.is_course
                .corseTxt 
                  p ご予約はお電話又は、以下フォームからもお申込みいただけます。
                  ul
                    li  ※ご予約の可否はメールにてご返信致します。
                    li  ※営業時間内はネット予約の確認が出来ません。#[br.sp]営業終了後にご返信致します。
                    li  ※ネット予約は前日までお受けできます。
                    li  ※当日はお電話にてお問い合わせくださいませ。
                script(charset='utf-8' type='text/javascript' src='//js.hsforms.net/forms/shell.js')
                script.
                  hbspt.forms.create({
                  region: "na1",
                  portalId: "20669384",
                  formId: "8aa74789-d9a0-433b-90f4-ea415713b575"
                  });

                p.txtRed ご予約はまだ確定ではございません、#[br.sp]可否のご連絡をお待ちくださいませ。



      include /_include/_footer.pug
