@charset "UTF-8";

/*--------------------------------------
 レイアウト
---------------------------------------*/
.l-wrapper{
  background-color: #D6C3AE;
}


.l-cont{
  
}


.l-fixBtns{
  display: flex;
  position: fixed;
  @include pc{
    bottom: 10px;
    right: 40px;
  }
  @include mq{
    bottom: vw(10);
    right: vw(10);
  }
  a{
    display: block;
    @include hvrBrt;
    @include pc{
    }
    @include mq{
      width: vw(80);
    }
    + a{
      @include pc{
        margin-left: 15px;
      }
      @include mq{
        margin-left: vw(15);
      }
    }
  }
  .ipad &{
    right: 10px;
  }
}


.l-footer{
  padding: em(28/12) em(50/12);
  text-align: center;
  @include pc{
    font-size: 1.2rem;
  }
  @include mq{
    font-size: 2.0rem;
  }
}


