@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/

$name: "info";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone){
//  display: none;
}
.#{$name}Zone{
  .u-secTtl{
    @include pc{
      margin-bottom: -177px;
      padding-bottom: 243px;
    }
    @include mq{
    }
  }//.u-secTtl
  .u-secCont{
    @include pc{
      padding-bottom: 17px;
    }
    @include mq{
    }
    .phts{
      @include pc{
        display: flex;
        justify-content: space-between;
        max-width: 922px;
        margin: 0 auto 30px;
      }
      @include mq{
        display: flex;
        margin-bottom: vw(30);
        justify-content: flex-start;
        overflow-x: auto;
      }
      > li{
        position: relative;
        @include pc{
          width: 32%;
        }
        @include mq{
          width: 70vw;
          flex-shrink: 0;
          margin: 0  0 0 3vw;
        }
        + li{
          @include pc{

          }
        }
        figure{
          img{
            width: 100%;
            @include pc{
              border-radius: vwL(15);
            }
            @include mq{
              border-radius: vw(15);
            }
          }
        }
        p{
          color: #fff;
          font-size: vwL(23);
          font-weight: bold;
          position: absolute;
          bottom: em(20/23);
          left: em(24/23);
          @include mqMaxW(900px){
          }
          @include mq{
            font-size: 2.8rem;
            line-height: 1.2;
            bottom: vw(25);
            left: vw(25);
            right: vw(25);
          }
          small{
            display: block;
            margin-top: em(2/19);
            font-size: .6em;
            font-variant: normal;
            @include mq{
              margin-top: vw(5);
            }
          }
        }
      }
    }//.phts
    .u-inner{
      @include pc{
        max-width: 922px;
        padding-left: 50px;
        padding-right: 50px;
      }
    }
    .u-whtBox1{
      @include pc{
        display: flex;
        align-items: flex-start;
        padding:
          percentage(35/922)
          percentage(62/922)
          percentage(57/922)
          percentage(69/922);
      }
      @include mq{
        font-size: 2.4rem;
      }
      + .u-whtBox1{
        @include pc{
          margin-top: percentage(41/922);
        }
      }
      h3{
        flex-shrink: 0;
        font-size: 3.0rem;
        @include pc{
          position: relative;
        }
        @include mq{
          display: flex;
          align-items: center;
          margin-bottom: vw(20);
        }
        &:before{
          background-image: url($thisPath + "icn_circle.png");
          width: em(57/30);
          height: em(57/30);
          @include pc{
          }
          @include mq{
            margin-right: vw(10);
          }
        }
        span{
          @include pc{
            position: absolute;
            top: em(18/30);
            left: em(25/30);
          }
          @include mq{
          }
          em{
            @include pc{
              -ms-writing-mode: tb-rl;
              writing-mode: vertical-rl;
              letter-spacing: 0.2em;
            }
            @include mq{
            }
          }
        }
      }
      .cont{
        line-height: (28/16);
        @include pc{
          width: 100%;
          font-size: 1.6rem;
        }
        @include mq{
        }
        p{
        }
      }//.cont
      &.is_request{
        h3{
          @include pc{
            margin-right: percentage(80/791);
          }
          @include mq{
          }
        }
        .cont{
          @include pc{
            padding-top: 15px;
          }
          @include mq{
            font-size: 0.9em;
          }
          p{
          }
          ul{
            margin: em(23/16) 0 em(38/16);
            font-weight: bold;
            line-height: (31/16);
            li{
              em{
                color: #B80000;
              }
              small{
                font-size: em(14/16);
              }
            }
          }
        }//.cont
      }//&.is_request
      &.is_access{
        h3{
          @include pc{
            margin-right: percentage(68/791);
          }
          @include mq{
          }
          .ipad &{
            margin-right: percentage(45/791);
          }
        }
        .cont{
          @include pc{
            display: flex;
            align-items: flex-start;
            padding-top: 12px;
          }
          @include mq{
          }
          figure{
            @include pc{
              width: percentage(428/666);
              margin-right: percentage(24/666);
            }
          }
          .txts{
            @include mq{
              margin-top: vw(20);
            }
            p{
              em{
                font-size: em(18/16);
                font-weight: bold;
                @include mq{
                  a{
                    text-decoration: underline;
                  }
                }
              }
            }
          }
        }//.cont
      }//&.is_access
    }//.u-whtBox1
  }//.u-secCont
}
