@charset "UTF-8";

/*--------------------------------------
 メインコンテンツ
---------------------------------------*/

$name: "main";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone){
//  display: none;
}
.#{$name}Zone{
  display: flex;
  flex-direction: row-reverse;
  .box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    @include pc{
//      height: 998px;
    }
    @include mq{
    }
    img{
      max-width: 100%;
    }
    &.is_logo{
      background-image: url($thisPath + "bg_wrap.png");
      h1{
        @include pc{
          width: percentage(364/700);
          max-width: 364px;
        }
        img{
          @include mq{
            width: vw(240);
          }
        }
      }
    }//&.is_logo
    &.is_catch{
      background-image: url($thisPath + "bg_wrap2.png");
      h2{
        @include pc{
          width: percentage(433/700);
          max-width: 433px;
        }
        img{
          @include mq{
            width: vw(260);
          }
        }
      }
    }//&.is_catch
  }
}
