@charset "UTF-8";

/*--------------------------------------
 メインコンテンツ
---------------------------------------*/

$name: "main";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone) {
  //  display: none;
}
.#{$name}Zone {
  display: flex;
  flex-direction: row-reverse;
  @include mq {
    flex-direction: column;
  }
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
    @include pc {
      //      height: 998px;
    }
    @include mq {
      height: 70vh;
      width: 100%;
    }
    img {
      max-width: 100%;
    }
    &.is_logo {
      background-image: url($thisPath + "bg_wrap.png");
      h1 {
        margin-right: auto;
        margin-left: 10%;
        margin-bottom: 10%;
        margin-top: auto;
        width: 39%;
        @include pc {
    max-width: 300px;
        }
        @include mq{
          width: 100%;
          margin-left: 10%;
          margin-bottom: 13%;
        }
        img {
          @include mq {
            width: 40%;
          }
        }
      }
    } //&.is_logo
    &.is_catch {
      background-image: url($thisPath + "bg_wrap2.jpg");
      h2 {
        @include pc {
          width: percentage(433/700);
          max-width: 500px;
        }
        @include mq{
          text-align: center;
        }
        img {
          @include mq {
            width: 80%;
          }
        }
      }
    } //&.is_catch
  }
}
