@charset "UTF-8";

/*--------------------------------------
 cont1
---------------------------------------*/

$name: "menu";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone){
//  display: none;
}
.#{$name}Zone{
  .u-inner{
    @include pc{
      padding-left: 50px;
      padding-right: 50px;
    }
  }
  .u-secTtl{
    @include pc{
      margin-bottom: -118px;
      padding-bottom: 195px;
    }
    @include mq{
    }
    h2{
      @include pc{
        margin-bottom: 50px;
      }
      @include mq{
        margin-bottom: vw(30);
      }
    }
    .lead{
      line-height: (37/20);
      @include pc{
        font-size: 2.0rem;
        text-align: center;
      }
      @include mqMaxW(900px){
        font-size: 1.8rem;
      }
      @include mq{
        font-size: 2.4rem;
      }
    }
  }//.u-secTtl
  .u-secCont{
    @include pc{
      padding-bottom: 107px;
    }
    @include mq{
    }
    .u-whtBox1{
      @include pc{
        padding:40px;
      }
      @include mq{
      }
      + .u-whtBox1{
        @include pc{
          margin-top: percentage(66/$innerW);
        }
      }
      h3{
        display: flex;
        align-items: center;
        margin-bottom: em(42/32);
        padding-bottom: em(16/32);
        font-size: 3.2rem;
        border-bottom: 1px solid #D6C3AE;
        @include pc{
        }
        @include mq{
        }
        &:before{
          background-image: url($thisPath + "icn_circle.png");
          width: em(82/32);
          height: em(82/32);
          @include pc{
            margin-right: em(25/32);
          }
          @include mq{
            margin-right: vw(10);
          }
        }
      }
      figure{
        img{
          width: 100%;
          border-radius: 29px;
          @include mqM{
            border-radius: vwM(29);
          }
          @include mq{
            border-radius: vw(29);
          }
        }
      }
      .list{
        > li{
          @include pc{
            display: flex;
            align-items: center;
          }
          + li{
            border-top: 1px dashed #D6C3AE;
            @include pc{
              margin-top: 34px;
              padding-top: 40px;
            }
            @include mq{
              margin-top: vw(40);
              padding-top: vw(40);
            }
          }
          figure{
            flex-shrink: 0;
            @include pc{
              width: percentage(469/940);
              margin-right: percentage(54/940);
            }
            @include mq{
            }
            img{
            }
          }
          .txts{
            @include pc{
              width: 100%;
              font-size: 1.8rem;
              line-height: (28/18);
            }
            @include mq{
              margin-top: vw(20);
              font-size: 2.4rem;
            }
            h4{
              color: #62462C;
              font-weight: bold;
              @include pc{
                margin-bottom: em(20/18);
              }
              @include mq{
                margin-bottom: vw(20);
              }
              em{
                display: block;
                font-size: em(22/18);
              }
              span{
                display: block;
              }
            }
            p{
              @include pc{
              }
              @include mq{
              }
            }
            ul{
              display: flex;
              flex-wrap: wrap;
              line-height: 1;
              @include pc{
              }
              @include mq{
              }
              > li{
                padding-right: 3%;
                box-sizing: border-box;
                &:nth-child(3n + 1){
                  width: 33%;
                }
                &:nth-child(3n + 2){
                  width: 29%;
                }
                &:nth-child(3n + 3){
                  width: 35%;
                  padding-right: 0;
                }
                &:nth-child(n + 4){
                  margin-top: em(10/16);
                }
                @include pc{
                }
                @include mq{
                }
              }
            }
            dl{
              display: flex;
              dt{
                flex-shrink: 0;
              }
              dd{
                width: 100%;
              }
            }
          }//.txts
        }
      }//.list
      &.is_course{
      }//&.is_course
      &.is_drink{
      }//&.is_drink
    }//.u-whtBox1
  }//.u-secCont
}
