@charset "UTF-8";

/*--------------------------------------
 メインコンテンツ
---------------------------------------*/

$name: "news";
$thisPath: $pathImg + $name + "/";

article:not(.#{$name}Zone){
//  display: none;
}
.#{$name}Zone{
  background-color: #fff;
  @include pc{
    padding: 25px 50px;
  }
  @include mq{
    padding: vw(25);
  }
  dl{
    @include pc{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
    }
    @include mq{
      font-size: 2.4rem;
      text-align: center;
    }
  }
  dt{
    color: #C6AC91;
    font-size: em(18/16);
    font-weight: bold;
    @include pc{
      margin-right: 36px;
    }
    @include mq{
      margin-bottom: vw(10);
    }
  }
  dd{
    a{
      @include hvr(0.5);
    }
    .date{
      display: inline-block;
      margin-right: 1.0em;
    }
  }
}
